@font-face {
    font-family: 'Love';
    src: url(fontes/Wild\ Love.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Valentine';
    src: url(fontes/Valentine\ Cute.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-poema: 'Love', 'Times New Roman', serif;
    --font-titulo: 'Valentine', 'Times New Roman', serif;
    --font-gostos: 'Poppins', sans-serif;
    --cor01: #ffe6ff; /* Lilás bem claro */
    --cor02: #dcb2ff; /* Lavanda suave */
    --cor03: #b47aff; /* Roxo médio */
    --cor04: #8a47e6; /* Roxo vibrante */
    --cor05: #6528d0; /* Roxo escuro */
    --cor06: #1c1c1c; /* Preto suave */
}


#navegar img{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

navegar{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.486);
}

body{
    background-image: linear-gradient(to left, var(--cor04), var(--cor03), var(--cor02));
}

#audio-player{
    width: 90vw;
    padding: 10px;
    display: none;

}

#inicio{
    max-width: 100vw;
}

#cabeca{
    background-image: linear-gradient(to right, var(--cor06), var(--cor05), var(--cor04));
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.486);
}

#tpoema{
    text-align: center;
    font-size: 2.5em;
    font-family: var(--font-titulo);
}

#img001{
    background: black url(imagens/nossas/011.png) top center no-repeat fixed;
    background-size: cover;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.486);
}
#img002{
    background: black url(imagens/nossas/011.png) center center no-repeat fixed;
    background-size: cover;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.486);
}
#img003{
    background: black url(imagens/nossas/011.png) bottom center no-repeat fixed;
    background-size: cover;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.486);
}
.versos{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s, transform 0.8s;
    padding: 5px;
    font-size: 2em;
    line-height: 1.8;
    margin: 10px auto;
    width: 80%;
    font-family: var(--font-poema);
}
.versos.visible {
    opacity: 1;
    transform: translateY(0);
}
#v1 p, #v3 p, #v6 p{
    background-color: rgba(0, 0, 0, 0.438);
    padding: 10px;
    display: inline-block;
    color: white;
}
#mensagem{
    max-width: 800px;
    margin: auto auto 50px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    padding: 20px;
}
.text-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 15px 0 15px;
    padding: 30px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: var(--font-gostos);
}

#passeios{
    font-family: var(--font-gostos);
}

#passeios h2{
    font-style: italic;
}

#passeios p{
    text-indent: 40px;
}

.passeios-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

.passeios-list li {
    background-color: var(--cor02);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.passeios-list img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    
    
}

.passeios-list a {
    text-decoration: none;
    color: var(--cor06);
    display: block;
}

.passeios-list a:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.btn-custom {
    background-color: var(--cor05);
    color: white;
    border: none;
    font-family: var(--font-gostos);
    padding: 12px 30px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--cor04);
    color: white;
}
