@font-face {
    font-family: 'Love';
    src: url(fontes/Wild\ Love.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Valentine';
    src: url(fontes/Valentine\ Cute.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-poema: 'Love', 'Times New Roman', serif;
    --font-titulo: 'Valentine', 'Times New Roman', serif;
    --cor01: #ff93ff;
    --cor02: #e479fa;
    --cor03: #c95ff6;
    --cor04: #ae44f1;
    --cor05: #932aec;
    --cor06: black;
}
body{
    background-image: linear-gradient(to left, var(--cor03), var(--cor02), var(--cor01));
}
header{
    display: flex;
    background-image: linear-gradient(to right, var(--cor06), var(--cor05), var(--cor04));
    color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.486);
    position: fixed;
    top: 0;
}
header img{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
header nav{
    align-self: center;
    margin-left: 600px;    
}
nav a{
    background-color: var(--cor05);
    padding: 10px;
    border-radius: 10px;
}
main{
   
    margin-top: 55px;
}
#secoes{
    display: flex;
    flex-direction: row;
}
aside{
    width: 300px;
    margin-top: 22px;
    background-color: white;
}
#inicio{
    width: 100vw;
}
section p{ 
    padding: 5px;
    font-family: var(--font-sriracha);
    font-size: 3.5vw;
    margin: 70px 30px;
    font-family: var(--font-poema);
}
section h1{
    text-align: center;
    font-size: 5vw;
    font-family: var(--font-titulo);
}
#mensagem{
    background-color: white;
}
.versos{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.486);
    
}

#v1{
    background: black url(imagens/estrelas.jpg) bottom center no-repeat fixed;
    background-size: cover;
}
#v3{
    background: black url(imagens/maos.jpg) top center no-repeat fixed;
    background-size: cover;
}
#v6{
    background: black url(imagens/velas.jpg) left center no-repeat fixed;
    background-size: cover;
}
#v1 p, #v3 p, #v6 p{
    background-color: rgba(0, 0, 0, 0.438);
    padding: 10px;
    display: inline-block;
    color: white;
}
footer{
    background-color: black;
    color: white;
    padding: 4px;
    text-align: center;
}